interactions:
- request:
    body: '{"properties": {"hanaDbPassword": "password1", "hanaDbSqlPort": 30015, "hanaDbName":
      "SYSTEMDB", "hanaHostname": "10.0.0.6", "hanaSubnet": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sapmonitor-lab/providers/Microsoft.Network/virtualNetworks/SML-vnet/subnets/hdb-subnet",
      "hanaDbUsername": "admin"}, "location": "japanwest"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sapmonitor-lab/providers/Microsoft.HanaOnAzure/sapMonitors/donaliuTesting?api-version=2017-11-03-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sapmonitor-lab/providers/Microsoft.HanaOnAzure/sapMonitors/donaliuTesting\"\
        ,\n  \"location\": \"japanwest\",\n  \"name\": \"donaliuTesting\",\n  \"tags\"\
        : {},\n  \"type\": \"Microsoft.HanaOnAzure/sapMonitors\",\n  \"properties\"\
        : {\n   \"hanaSubnet\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sapmonitor-lab/providers/Microsoft.Network/virtualNetworks/SML-vnet/subnets/hdb-subnet\"\
        ,\n   \"hanaHostname\": \"10.0.0.6\",\n   \"hanaDbName\": \"SYSTEMDB\",\n\
        \   \"hanaDbSqlPort\": 30015,\n   \"hanaDbUsername\": \"admin\",\n   \"provisioningState\"\
        : \"Accepted\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HanaOnAzure/locations/japanwest/operationsStatus/1470de31-b9b3-4b7d-a982-b7092aed8b1e?api-version=2017-11-03-preview
      content-type:
      - application/json
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sapmonitor-lab/providers/Microsoft.HanaOnAzure/sapMonitors/donaliuTesting?api-version=2017-11-03-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HanaOnAzure/locations/japanwest/operationsStatus/1470de31-b9b3-4b7d-a982-b7092aed8b1e?api-version=2017-11-03-preview
  response:
    body:
      string: "{\n  \"name\": \"1470de31-b9b3-4b7d-a982-b7092aed8b1e\",\n  \"status\"\
        : \"InProgress\",\n  \"startTime\": \"2019-07-26T17:46:48.5897153Z\",\n  \"\
        error\": {\n   \"code\": \"\",\n   \"message\": \"\"\n  }\n }"
    headers:
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HanaOnAzure/locations/japanwest/operationsStatus/1470de31-b9b3-4b7d-a982-b7092aed8b1e?api-version=2017-11-03-preview
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HanaOnAzure/locations/japanwest/operationsStatus/1470de31-b9b3-4b7d-a982-b7092aed8b1e?api-version=2017-11-03-preview
  response:
    body:
      string: "{\n  \"name\": \"1470de31-b9b3-4b7d-a982-b7092aed8b1e\",\n  \"status\"\
        : \"Succeeded\",\n  \"startTime\": \"2019-07-26T17:46:48.5897153Z\",\n  \"\
        endTime\": \"2019-07-26T17:53:53.138045Z\",\n  \"error\": {\n   \"code\":\
        \ \"\",\n   \"message\": \"\"\n  }\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sapmonitor-lab/providers/Microsoft.HanaOnAzure/sapMonitors/donaliuTesting?api-version=2017-11-03-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sapmonitor-lab/providers/Microsoft.HanaOnAzure/sapMonitors/donaliuTesting\"\
        ,\n  \"location\": \"japanwest\",\n  \"name\": \"donaliuTesting\",\n  \"tags\"\
        : {},\n  \"type\": \"Microsoft.HanaOnAzure/sapMonitors\",\n  \"properties\"\
        : {\n   \"hanaSubnet\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sapmonitor-lab/providers/Microsoft.Network/virtualNetworks/SML-vnet/subnets/hdb-subnet\"\
        ,\n   \"hanaHostname\": \"10.0.0.6\",\n   \"hanaDbName\": \"SYSTEMDB\",\n\
        \   \"hanaDbSqlPort\": 30015,\n   \"hanaDbUsername\": \"admin\",\n   \"provisioningState\"\
        : \"Succeeded\"\n  }\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
